[submodule "lib/nwawsoft-java-util"]
	path = lib/nwawsoft-java-util
	url = https://github.com/nwawrzyniak/nwawsoft-java-util
	branch = master
[submodule "lib/jnativehook"]
	path = lib/jnativehook
	url = https://github.com/kwhat/jnativehook
	branch = master
